[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/colors/start/airline_themes"]
	path = .vim/pack/colors/start/airline_themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/syntax/start/surround"]
	path = .vim/pack/syntax/start/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/syntax/start/commentary"]
	path = .vim/pack/syntax/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/syntax/start/emmet"]
	path = .vim/pack/syntax/start/emmet
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/pack/colors/start/dracula"]
	path = .vim/pack/colors/opt/dracula
	url = https://github.com/dracula/vim
[submodule ".vim/pack/colors/opt/onedark"]
	path = .vim/pack/colors/opt/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule ".vim/pack/colors/opt/tokyonight"]
	path = .vim/pack/colors/opt/tokyonight
	url = https://github.com/ghifarit53/tokyonight-vim
[submodule ".vim/pack/plugins/start/repeat"]
	path = .vim/pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat
