[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/colors/start/airline_themes"]
	path = .vim/pack/colors/start/airline_themes
	url = https://github.com/vim-airline/vim-airline-themes
